body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  border: 1px solid rgba(0, 0, 0, 0);
}

.slider1 {
  background-image: url(img/test1.jpg);
}

.slider2 {
  background-color: #f3eded;
  padding-right: 100px;
}

nav {
  background-color: #ffffff;
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.header {
  width: 100%;
}

.hero {
  border: 0px solid black;
  height: 750px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 87%;
  border-radius: 20px;
  border: 0px solid black;
  height: 350px;
  padding-left: 100px;
}

.img1 {
  margin: 20px;
  border-radius: 30px;
  padding: 30px;
  background-image: url(img/menui1.jpg);
  background-size: cover;
  margin-top: 45px;
}

.img2 {
  margin: 20px;
  border-radius: 30px;
  padding: 30px;
  background-image: url(img/menui2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 45px;
}

.img3 {
  margin: 20px;
  border-radius: 30px;
  padding: 30px;
  background-image: url(img/menui3.jpg);
  background-size: cover;
  margin-top: 45px;
}

.pricing {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.menu2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 87%;
  border-radius: 20px;
  border: 0px solid black;
  height: 350px;
  padding-left: 100px;
}

.pricing2 {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.circ {
  background-color: orangered;
  display: grid;
  align-items: center;
  border-radius: 400px;
  width: 110px;
  height: 110px;
}

.round {
  background-color: orangered;
  width: 200px;
  display: flex;
  border-radius: 4000px;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.intro1 {
  font-size: 20px;
}

.intro2 {
  font-size: 50px;
}

.off {
  display: flex;
  justify-content: end;
}

.btn1 {
  text-decoration: none;
  color: white;
  border-radius: 20px;
  height: 20px;
}

.btno {
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 480px;
  height: 40px;
  width: 100px;
  border-radius: 20px;
}

.slider4 {
  margin: 50px;
  border-radius: 30px;
  padding: 0px;
  background-image: url(img/menui3.jpg);
  background-size: cover;
  height: 600px;
  width: 600px;
}

.slider3 {
  padding-left: 115px;
  padding-top: 30px;
  padding-right: 50px;
  height: 650px;
}

.slider3 p {
  font-size: 24px;
}

.slider3 h5 {
  font-size: 19px;
}

.img4 {
  border-radius: 20px;
  margin: 20px;
  background-image: url(img/menui3.jpg);
  background-size: cover;
}

.img5 {
  border-radius: 20px;
  margin: 20px;
  background-image: url(img/menui2.jpg);
  background-size: cover;
}

.img6 {
  border-radius: 20px;
  margin: 20px;
  background-image: url(img/menui1.jpg);
  background-size: cover;
}

.slider5 {
  background-image: url(img/test1.jpg);
  background-size: cover;
  border-radius: 20px;
  margin: 20px;
}

.slider6 {
  padding-left: 115px;
  padding-top: 30px;
  padding-right: 50px;
  height: 650px;
  text-align: end;
}

.slider6 p {
  font-size: 24px;
}

.slider6 h5 {
  font-size: 19px;
}

.finalmenu {
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.card {
  border-radius: 40px;
  margin: 40px;
  background-image: url(img/heroimg3.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.op2 {
  border-radius: 40px;
  margin: 40px;
  background-image: url(img/heroimg4.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.op3 {
  border-radius: 40px;
  margin: 40px;
  background-image: url(img/heroimg4.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.op4 {
  border-radius: 40px;
  margin: 40px;
  background-image: url(img/heroimg3.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  margin-top: 350px;
  color: white;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0);
  border-radius: 40px;
  width: 50%;
  display: flex;
  flex-direction: center;
  justify-content: center;
  border: 0px;
  align-items: center;
  
}
.card-body a{
  color: white;
  text-decoration: none;
}